{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.createdAt ? course.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ course.updatedAt ? course.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de formations trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}"><button>Créer une nouvelle formation</button></a>
{% endblock %}
