{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Année</th>
                <th>Photo</th>
                <th>Entreprise</th>
                <th>Description</th>
                <th>Création le</th>
                <th>Modifié le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                {# <td>{{ student.id }}</td> #}
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.birthDay ? student.birthDay|date('d/m/Y') : '' }}</td>
                <td>{{ student.promo }}</td>
                <td><img src="{{ asset('uploads/photos/'~student.photo) }}" style="width: 150px; height: auto;"></td>
                <td>{{ student.company }}</td>
                <td>{{ student.description }}</td>
                <td>{{ student.createdAt ? student.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ student.updatedAt ? student.updatedAt|date('d/m/Y  H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary btn-sm m-1" href="{{ path('app_student_show', {'id': student.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-info btn-sm m-1" href="{{ path('app_message_new', {'student': student.id}) }}"><i class="bi bi-chat-left-text"></i></a>
                    <a class="btn btn-warning btn-sm m-1" href="{{ path('app_student_edit', {'id': student.id}) }}"><i class="bi bi-pencil"></i></a>
                    <a class="btn btn-danger btn-sm m-1" href="{{ path('app_student_delete', {'id': student.id}) }}"><i class="bi bi-x-circle"></i></a>
                    {# {{ include('student/_delete_form.html.twig') }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas d'étudiants trouvés...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_student_new') }}">Créer un nouvel étudiant</a>
{% endblock %}
