{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Année</th>
                <th>Photo</th>
                <th>Entreprise</th>
                <th>Description</th>
                <th>Création le</th>
                <th>Modifié le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.birthDay ? student.birthDay|date('d/m/Y') : '' }}</td>
                <td>{{ student.promo }}</td>
                <td><img src="{{ asset('uploads/photos/'~student.photo) }}" style="width: 150px; height: auto;"></td>
                <td>{{ student.company }}</td>
                <td>{{ student.description }}</td>
                <td>{{ student.createdAt ? student.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ student.updatedAt ? student.updatedAt|date('d/m/Y  H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}"><button>Voir</button></a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}"><button>Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas d'étudiants trouvés...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}"><button>Créer un nouvel étudiant</button></a>
{% endblock %}
