{% extends 'base.html.twig' %}

{% block title %}Log index{% endblock %}

{% block body %}
    <h1>Liste des logs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Date de création</th>
                <th>Description</th>
                <th>Type d'action</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.author }}</td>
                <td>{{ log.createdAt ? log.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.actionType }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
